@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
/* Prevent text selection of a <body> element in all major browsers */
/* body {
/*	-youbkit-touch-callout: none; /* iOS Safari */
/*	-youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
/*	-moz-user-select: none;       /* Firefox */
/*	-ms-user-select: none;        /* IE 10+ and Edge */
/*	user-select: none;            /* Non-prefixed version, 
								  currently supported by Chrome and Opera */
/*} */

a {
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
  }
  p {
    font-size: 16px;
    color: #677294;
  }
  
  p span {
    padding: 3px 8px;
  }
  
  .bg-dark {
    background: #222d39 !important;
  }
  
  .bg-purpple {
    background: #6e3ef8;
  }
  
  .bg-blue {
    background: #2cabed;
  }
  
  .h_title {
    font-size: 24px;
    color: #677294;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .heading_style h1, .heading_style h2, .heading_style h3, .heading_style h4, .heading_style h5, .heading_style h6 {
    color: #4b505e;
    font-weight: 700;
  }
  
  .heading_style .h_title {
    font-size: 24px;
    color: #677294;
    font-weight: 300;
  }
  
  .heading_style h1 {
    font-size: 50px;
  }
  
  .heading_style h2 {
    font-size: 44px;
  }
  
  .heading_style h3 {
    font-size: 36px;
  }
  
  .heading_style h4 {
    font-size: 30px;
  }
  
  .heading_style h5 {
    font-size: 24px;
  }
  
  .heading_style h6 {
    font-size: 18px;
  }
  
  .heading_style.medium h1, .heading_style.medium h2, .heading_style.medium h3, .heading_style.medium h4, .heading_style.medium h5, .heading_style.medium h6 {
    font-weight: 500;
  }
  
  .heading_style.medium .h_title {
    font-weight: 300;
  }
  
  .heading_style.regular .h_title {
    font-weight: 300;
  }
  
  .heading_style.regular h1, .heading_style.regular h2, .heading_style.regular h3, .heading_style.regular h4, .heading_style.regular h5, .heading_style.regular h6 {
    font-weight: 400;
  }
  
  .tooltip_p .text-green {
    color: #49c10e;
  }
  
  .tooltip_p .text-red {
    color: #f0368d;
  }
  
  .tooltip > .tooltip-inner {
    background-color: #f00;
    color: #fff;
  }
  
  .tooltip > .tooltip-inner .arrow:before {
    border-bottom-color: red;
  }
  
  .row.m0 {
    margin: 0px;
  }
  
  .p0 {
    padding: 0px;
  }
  
  i:before {
    margin-left: 0px !important;
  }
  
  body {
    font: 400 15px/28px "Poppins", sans-serif;
    letter-spacing: 0px;
    color: #677294;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
  }
  
  
  .body_wrapper {
    z-index: 20;
    overflow: hidden;
  }
  
  a, .btn, button {
    text-decoration: none;
    outline: none;
  }
  
  a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
  }
  
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .seo_sec_title h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #263b5e;
    margin-bottom: 15px;
  }
  
  .seo_sec_title p {
    font-size: 16px;
    font-weight: 300;
    color: #6a7695;
    margin-bottom: 0;
  }
  
  @media (min-width: 1250px) {
    .container {
      max-width: 1200px;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      max-width: 100%;
    }
  }
  
  .container.custom_container {
    max-width: 1520px;
  }
  
  .f_size_50 {
    font-size: 50px;
  }
  
  .f_size_40 {
    font-size: 40px;
  }
  
  .f_size_30 {
    font-size: 30px;
  }
  
  .f_size_28 {
    font-size: 28px;
  }
  
  .f_size_22 {
    font-size: 22px;
  }
  
  .f_size_24 {
    font-size: 24px;
  }
  
  .f_size_20 {
    font-size: 20px;
  }
  
  .f_size_18 {
    font-size: 18px;
  }
  
  .f_size_16 {
    font-size: 16px;
  }
  
  .f_size_15 {
    font-size: 15px;
  }
  
  .l_height60 {
    line-height: 60px;
  }
  
  .l_height50 {
    line-height: 50px;
  }
  
  .l_height45 {
    line-height: 45px;
  }
  
  .l_height40 {
    line-height: 40px;
  }
  
  .l_height30 {
    line-height: 30px;
  }
  
  .l_height34 {
    line-height: 34px;
  }
  
  .l_height28 {
    line-height: 28px;
  }
  
  .f_p {
    font-family: "Poppins", sans-serif;
  }
  
  /*=========== font-weight ==============*/
  .f_300 {
    font-weight: 300;
  }
  
  .f_400 {
    font-weight: 400;
  }
  
  .f_500 {
    font-weight: 500;
  }
  
  .f_600 {
    font-weight: 600;
  }
  
  .f_700 {
    font-weight: 700;
  }
  
  .f_900 {
    font-weight: 900;
  }
  
  .t_color {
    color: #051441;
  }
  
  .w_color {
    color: #fff;
  }
  
  .t_color2 {
    color: #3f4451;
  }
  
  .t_color3 {
    color: #222d39;
  }
  
  .d_p_color {
    color: #bdbed6;
  }
  
  .bg_color {
    background: #fbfbfd;
  }
  
  .dk_bg_one {
    background: #090a21;
  }
  
  .dk_bg_two {
    background: #0f1029;
  }
  
  .seo_title_color {
    color: #263b5e;
  }
  
  .mt_60 {
    margin-top: 60px;
  }
  
  .mt_30 {
    margin-top: 30px;
  }
  
  .mt_40 {
    margin-top: 40px;
  }
  
  .mt_70 {
    margin-top: 70px;
  }
  
  .mt_75 {
    margin-top: 75px;
  }
  
  .mt_100 {
    margin-top: 100px;
  }
  
  .mt_130 {
    margin-top: 130px;
  }
  
  .mb_70 {
    margin-bottom: 70px;
  }
  
  .mb_20 {
    margin-bottom: 20px;
  }
  
  .mb_15 {
    margin-bottom: 15px;
  }
  
  .mb_30 {
    margin-bottom: -30px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mb_40 {
    margin-bottom: 40px;
  }
  
  .mb_50 {
    margin-bottom: 50px;
  }
  
  .mb-50 {
    margin-bottom: -50px;
  }
  
  .mb_60 {
    margin-bottom: 60px;
  }
  
  .mb_90 {
    margin-bottom: 90px;
  }
  
  .pl_20 {
    padding-left: 20px;
  }
  
  .pl-30 {
    padding-left: 30px;
  }
  
  .pl_40 {
    padding-left: 40px;
  }
  
  .pl_50 {
    padding-left: 50px;
  }
  
  .pl_100 {
    padding-left: 100px;
  }
  
  .pl_70 {
    padding-left: 70px;
  }
  
  .pl_120 {
    padding-left: 120px;
  }
  
  .pr_100 {
    padding-right: 100px;
  }
  
  .pr_120 {
    padding-right: 120px;
  }
  
  .pr_70 {
    padding-right: 70px;
  }
  
  .pr_50 {
    padding-right: 50px;
  }
  
  .pr_20 {
    padding-right: 20px;
  }
  
  .pt_150 {
    padding-top: 150px;
  }
  
  .pt_120 {
    padding-top: 40px;
  }
  
  .sec_pad {
    padding: 120px 0px;
  }
  
 
*,
*::before,
*::after {
  box-sizing: border-box; 
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div {
    display: block;
}

.bg_color {
    background: #fbfbfd;
}

.container.custom_container{
    max-width: 1170px;
}
/*============== HEADER ===========================*/

/*============== header_area css ==============*/
/*========= hamburger menu css ========*/
/*
.navbar-toggler {
    padding: 0px;
    margin-left: 20px;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .menu_toggle {
    width: 22px;
    height: 22px;
    position: relative;
    cursor: pointer;
    display: block;
  }
  
  .menu_toggle .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
  }
  
  .menu_toggle .hamburger span {
    width: 0%;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    margin: 4px 0;
    display: block;
    background: #5e2ced;
    border-radius: 3px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  
  .menu_toggle .hamburger span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .menu_toggle .hamburger span:nth-child(2) {
    -webkit-transition-delay: .125s;
    -o-transition-delay: .125s;
    transition-delay: .125s;
  }
  
  .menu_toggle .hamburger span:nth-child(3) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
  
  .menu_toggle .hamburger-cross {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
  }
  
  .menu_toggle .hamburger-cross span {
    display: block;
    background: #5e2ced;
    border-radius: 3px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  
  .menu_toggle .hamburger-cross span:nth-child(1) {
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 10px;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  
  .menu_toggle .hamburger-cross span:nth-child(2) {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 10px;
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
  }
  
  .collapsed .menu_toggle .hamburger span {
    width: 100%;
  }
  
  .collapsed .menu_toggle .hamburger span:nth-child(1) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  
  .collapsed .menu_toggle .hamburger span:nth-child(2) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
  }
  
  .collapsed .menu_toggle .hamburger span:nth-child(3) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
  }
  
  .collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
    height: 0%;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  
  .collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
    width: 0%;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }
  
  .header_area_two + section, .header_area_three + section {
    margin-top: 93px;
  }
  
  .h_dark {
    background: #13112d;
  }
  
  .header_area_three {
    background-color: white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.1);
  }
  
  .header_area_three .menu_four .pl_30 {
    padding-left: 30px;
  }
  
  .header_area_three .menu_four .btn_get {
    border-color: #5e2ced;
    background: #5e2ced;
    color: #fff;
  }
  
  .header_area_three .menu_four .btn_get:hover {
    background: transparent;
    color: #5e2ced;
  }
  
  .header_area_three.navbar_fixed .menu_four .btn_get {
    border-color: #5e2ced !important;
  }
  
  .header_area_four .header_top {
    background: #13112d;
  }
  
  .header_area_four .header_top a {
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  
  .header_area_four .header_top a:hover {
    color: #5e2ced;
  }
  
  .header_area_four + section {
    margin-top: 144px;
  }
  
  .header_top {
    padding: 12px 0px;
  }
  
  .header_contact_info {
    margin-bottom: 0;
  }
  
  .header_contact_info li {
    display: inline-block;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
  }
  
  .header_contact_info li:before {
    content: "";
    width: 1px;
    height: 12px;
    top: 1px;
    background: #5e5d76;
    display: inline-block;
    position: relative;
    margin: 0px 22px 0px 20px;
  }
  
  .header_contact_info li:first-child:before {
    display: none;
  }
  
  .header_contact_info li a {
    color: #c3c1da;
    font-weight: 300;
    padding-left: 5px;
  }
  
  .header_social_icon {
    text-align: right;
    margin-bottom: 0;
  }
  
  .header_social_icon li {
    display: inline-block;
    margin: 0px 0px 0px 15px;
  }
  
  .header_social_icon li a {
    font-size: 12px;
    color: #fff;
  }
  
  .header_area_five .menu_one {
    padding: 0px 50px;
  }
  
  .header_area_six .header_top {
    border-bottom: 1px solid #e5ddfc;
  }
  
  .header_area_six .header_top a:hover {
    color: #5e2ced !important;
  }
  
  .header_area_six .header_top .header_contact_info li {
    color: #282835;
  }
  
  .header_area_six .header_top .header_contact_info li a {
    color: #677294;
  }
  
  .header_area_six .header_top .header_social_icon li a {
    color: #282835;
  }
  
  .header_area_six + section {
    margin-top: 144px;
  }
  
  .header_area_seven .header_top {
    background: #5e2ced;
    padding: 0px;
  }
  
  .header_area_seven .header_top a {
    line-height: 50px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  
  .header_area_seven .header_top a:hover {
    opacity: 1;
  }
  
  .header_area_seven .header_top .header_contact_info li i {
    vertical-align: middle;
  }
  
  .header_area_seven .header_top .header_contact_info li a {
    color: #fff;
  }
  
  .header_area_seven .header_top .header_social_icon {
    border-left: 1px solid #7444ff;
    padding-left: 22px;
    margin-left: 40px;
  }
  
  .header_area_seven .header_top .header_top_menu {
    text-align: right;
    margin-bottom: 0px;
  }
  
  .header_area_seven .header_top .header_top_menu li {
    display: inline-block;
  }
  
  .header_area_seven .header_top .header_top_menu li:before {
    content: "";
    width: 1px;
    height: 11px;
    background: #8e6bf7;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 17px 0px 15px;
  }
  
  .header_area_seven .header_top .header_top_menu li a {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #fff;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
  
  .header_area_seven .header_top .header_top_menu li:first-child:before {
    display: none;
  }
  
  .header_area_seven + section {
    margin-top: 118px;
  }
  
  .menu_poss .w_menu.search_cart .search a.nav-link {
    margin-left: 32px;
  } */

  /*============= app_service_area css ============*/
.app_service_area {
    padding-top: 120px;
    background: #fff;
  }
  
  .app_service_info {
    margin-bottom: -90px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  
  .app_service_item {
    border: 1px solid #f4f4f9;
    background-color: white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    padding: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .app_service_item .app_icon {
    font-size: 40px;
    line-height: 45px;
  }
  
  .app_service_item .app_icon.one {
    text-shadow: 0px 14px 30px rgba(44, 130, 237, 0.4);
    color: #677294;
    background-image: -moz-linear-gradient(0deg, #2171d4 0%, #2cc4f0 100%);
    background-image: -webkit-linear-gradient(0deg, #2171d4 0%, #2cc4f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .app_service_item .app_icon.two {
    text-shadow: 0px 14px 30px rgba(224, 56, 39, 0.4);
    color: #e03827;
    background-image: -moz-linear-gradient(0deg, #e03827 0%, #f9a47a 100%);
    background-image: -webkit-linear-gradient(0deg, #e03827 0%, #f9a47a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .app_service_item .app_icon.three {
    text-shadow: 0px 14px 30px rgba(94, 44, 237, 0.4);
    color: #e03827;
    background-image: -moz-linear-gradient(0deg, #5e2ced 0%, #a485fd 100%);
    background-image: -webkit-linear-gradient(0deg, #5e2ced 0%, #a485fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .app_service_item .learn_btn_two {
    color: #222d39;
    font-size: 14px;
  }
  
  .app_service_item .learn_btn_two:before {
    background: #4069eb;
  }
  
  .app_service_item .learn_btn_two:hover {
    color: #4069eb;
  }
  
  .app_service_item .learn_btn_two.c_violet:hover {
    color: #5e2ced;
  }
  
  .app_service_item .learn_btn_two.c_violet:hover:before {
    background: #5e2ced;
  }
  
  .app_service_item:hover {
    -webkit-box-shadow: 0px 20px 40px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 20px 40px 0px rgba(12, 0, 46, 0.08);
  }
  
  .app_service_area_two {
    background: #f9f9fc;
    padding: 120px 0px;
  }
  
  .app_service_area_two .app_service_info {
    margin-bottom: -30px;
  }
  
  /*============== agency_banner_area css =============*/
.agency_banner_area {
    padding-top: 150px;
    position: relative;
    z-index: 1;
  }
  
  .agency_banner_area .banner_shap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  .agency_content h2 {
    font-size: 50px;
    line-height: 66px;
  }
  /*=========== service_area css ============*/
.service_area {
  background: #f4f6fa;
}

.service_item {
  background: #fff;
  -webkit-box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  box-shadow: 0px 30px 40px 0px rgba(3, 115, 156, 0.1);
  padding: 47px 40px 0px;
  height: 100%;
  position: relative;
  border: 2px solid transparent;
  -webkit-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.service_item p {
  line-height: 28px;
}

.service_item .icon {
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  position: absolute;
  right: 30px;
  top: 30px;
}

.service_item .icon.s_icon_one {
  background-image: -moz-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  background-image: -ms-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(94, 44, 237, 0.4);
}

.service_item .icon.s_icon_two {
  background-image: -moz-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  background-image: -webkit-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  background-image: -ms-linear-gradient(40deg, #e03827 0%, #f9a47a 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(224, 56, 39, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(224, 56, 39, 0.4);
}

.service_item .icon.s_icon_three {
  background-image: -moz-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  background-image: -webkit-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  background-image: -ms-linear-gradient(40deg, #2c82ed 0%, #38d0fc 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(44, 130, 237, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(44, 130, 237, 0.4);
}

.service_item .icon.s_icon_four {
  background-image: -moz-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  background-image: -webkit-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  background-image: -ms-linear-gradient(40deg, #e09520 0%, #fae926 100%);
  -webkit-box-shadow: 0px 14px 30px 0px rgba(224, 149, 32, 0.4);
  box-shadow: 0px 14px 30px 0px rgba(224, 149, 32, 0.4);
}

.service_item img {
  margin-right: -25px;
  width: auto;
}

.service_item:hover {
  border-color: #c4e7f7;
}

 /*================ prototype_service_area css =============*/
.prototype_service_area {
    background: #fbfbfd;
    padding-bottom: 130px;
    padding-top: 20px;
  }
  
  .service_carousel {
    padding-left: 155px;
    position: relative;
    z-index: 1;
  }
  
  .service_carousel:before {
    width: 100px;
    content: "";
    height: 100%;
    right: -25px;
    top: 0;
    position: absolute;
    background: #fbfbfb;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    -webkit-box-shadow: 0px 100px 40px 0px rgba(251, 251, 251, 0.1);
    box-shadow: 0px 100px 40px 0px rgba(251, 251, 251, 0.1);
    z-index: 1;
  }
  
  .service_carousel .owl-stage {
    left: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .service_carousel .owl-item {
    padding-left: 25px;
    padding-bottom: 55px;
  }
  
  .service_carousel .owl-item .service_item {
    -webkit-box-shadow: 0px 30px 40px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 40px 0px rgba(12, 0, 46, 0.1);
  }
  
  .service_carousel .owl-item .service_item:hover {
    border-color: rgba(116, 68, 253, 0.2);
  }
  
  .service_carousel .owl-item .service_item img {
    width: auto;
  }
  
  .service_carousel .owl-next {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 0px 2px 20px 2px rgba(12, 0, 46, 0.06);
    box-shadow: 0px 2px 20px 2px rgba(12, 0, 46, 0.06);
    font-size: 16px;
    color: #222d39;
    line-height: 56px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .service_carousel .owl-next:hover {
    background: #7444fd !important;
    color: #fff !important;
  }
  
  .prototype_service_area_two {
    background: #f8f8fc;
    padding: 120px 0px 60px;
    position: relative;
    z-index: 1;
  }
 
  /*================ prototype_service_info css ==============*/
.prototype_service_area_two, .prototype_service_area_three {
    overflow: hidden;
  }

  .prototype_service_info {
    padding: 150px 0px 175px;
    position: relative;
    z-index: 0;
  }
  
  .p_service_info {
    margin-bottom: -90px;
  }
  
  .p_service_item {
    margin-bottom: 90px;
  }
  
  .p_service_item .icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 55px;
    height: 60px;
    position: relative;
    margin: 0px 0px 25px;
    font-size: 24px;
    -webkit-border-radius: 50% / 14%;
    border-radius: 50% / 14%;
    color: white;
    text-align: center;
    line-height: 64px;
    -o-text-overflow: clip;
    text-overflow: clip;
    z-index: 1;
  }
  
  .p_service_item .icon:before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    content: "";
    top: 10%;
    right: -5.5%;
    bottom: 10%;
    left: -5%;
    border: none;
    -webkit-border-radius: 7% / 50%;
    border-radius: 7% / 50%;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: none;
    z-index: -1;
  }
  
  .p_service_item .icon.icon_one {
    background: #7142f8;
  }
  
  .p_service_item .icon.icon_one:before {
    background: #7142f8;
  }
  
  .p_service_item .icon.icon_two {
    background: #5cbd2c;
  }
  
  .p_service_item .icon.icon_two:before {
    background: #5cbd2c;
  }
  
  .p_service_item .icon.icon_three {
    background: #f38650;
  }
  
  .p_service_item .icon.icon_three:before {
    background: #f38650;
  }
  
  .p_service_item .icon.icon_four {
    background: #ecbf24;
  }
  
  .p_service_item .icon.icon_four:before {
    background: #ecbf24;
  }
  
  .p_service_item .icon.icon_five {
    background: #fa4c9a;
  }
  
  .p_service_item .icon.icon_five:before {
    background: #fa4c9a;
  }
  
  .p_service_item .icon.icon_six {
    background: #35bfe7;
  }
  
  .p_service_item .icon.icon_six:before {
    background: #35bfe7;
  }
  
  .p_service_item h5 {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  
  .p_service_item p {
    font-size: 15px;
  }
  
  .symbols-pulse {
    position: absolute;
    top: 58%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .symbols-pulse > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 23rem;
    border-radius: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(227, 221, 246, 0.1)), color-stop(65%, rgba(227, 221, 246, 0.2)), to(rgba(227, 221, 246, 0.1)));
    background-image: -webkit-linear-gradient(top, rgba(227, 221, 246, 0.1) 0%, rgba(227, 221, 246, 0.2) 65%, rgba(227, 221, 246, 0.1) 100%);
    background-image: -o-linear-gradient(top, rgba(227, 221, 246, 0.1) 0%, rgba(227, 221, 246, 0.2) 65%, rgba(227, 221, 246, 0.1) 100%);
    background-image: linear-gradient(-180deg, rgba(227, 221, 246, 0.1) 0%, rgba(227, 221, 246, 0.2) 65%, rgba(227, 221, 246, 0.1) 100%);
    z-index: -1;
  }
  
  .symbols-pulse .pulse-1 {
    -webkit-transform: translate(-50%, -50%) scale(0.67);
    -ms-transform: translate(-50%, -50%) scale(0.67);
    transform: translate(-50%, -50%) scale(0.67);
  }
  
  .symbols-pulse .pulse-2 {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    -ms-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
  }
  
  .symbols-pulse .pulse-3 {
    -webkit-transform: translate(-50%, -50%) scale(1.63);
    -ms-transform: translate(-50%, -50%) scale(1.63);
    transform: translate(-50%, -50%) scale(1.63);
  }
  
  .symbols-pulse .pulse-4 {
    -webkit-transform: translate(-50%, -50%) scale(2.1);
    -ms-transform: translate(-50%, -50%) scale(2.1);
    transform: translate(-50%, -50%) scale(2.1);
  }
  
  .symbols-pulse .pulse-x {
    will-change: transform;
    -webkit-animation: pulsate 3s infinite;
    animation: pulsate 3s infinite;
  }
  
  @-webkit-keyframes pulsate {
    0% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(0.5);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) scale(4);
      transform: translate(-50%, -50%) scale(4);
    }
  }
  
  @keyframes pulsate {
    0% {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(0.5);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) scale(4);
      transform: translate(-50%, -50%) scale(4);
    }
  }
  
  /*================== h_security_area css ===========*/
.h_security_area {
    padding: 100px 0px;
  }
  
  .h_security_area .row {
    margin-bottom: -45px;
  }
  
  .h_security_item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 45px 0px;
  }
  
  .h_security_item img {
    margin-right: 40px;
  }
  
  .h_security_item .media-body h4 {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c51;
    line-height: 28px;
    margin-bottom: 18px;
  }
  
  /*======== security_action_area css =========*/
.security_action_area {
  background: #fafafd;
  padding: 130px 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.security_action_area .img_bg {
  right: 0;
  top: -22px;
  z-index: -1;
}

.security_action_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.security_action_inner .media {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.security_action_inner .media img {
  margin-right: 70px;
}

.security_action_inner .media h3 {
  font-size: 34px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 0;
}

.security_action_inner .media h3 span {
  display: block;
  color: #0e79de;
  font-weight: 300;
}

.security_action_inner .er_btn_two {
  margin-top: 0;
  background: #0e79de;
  border: 0px;
  padding: 12px 57px;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(10, 52, 92, 0.2);
  box-shadow: 0px 10px 50px 0px rgba(10, 52, 92, 0.2);
}

.security_action_inner .er_btn_two:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.security_footer_area:after {
  display: none;
}

  
  /*================= domain_search_area css ==============*/
.hosting_service_area {
    position: relative;
  }
  
  .hosting_title {
    margin-bottom: 70px;
  }
  
  .hosting_title h2 {
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    color: #2c2c51;
    margin-bottom: 15px;
  }
  
  .hosting_title p {
    color: #7b7b93;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .hosting_title .w_color {
    color: #fff;
  }
  
  .hosting_service_item {
    padding: 60px 40px;
    border-top: 6px solid transparent;
    border-radius: 6px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  .hosting_service_item .icon {
    width: 70px;
    height: 60px;
    line-height: 60px;
    border-radius: 6px;
    background: #fff7f7;
    text-align: center;
    margin-bottom: 37px;
  }
  
  .hosting_service_item p {
    color: #7b7b93;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .hosting_service_item:hover {
    border-color: #f6626a;
    background: #fff;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
    box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
  }
  
  .pattern_shap {
    position: absolute;
    width: 125px;
    height: 225px;
    left: 0;
    top: 200px;
  }
  
  .pos_service_info .hosting_service_item {
    padding: 45px 40px;
  }
  
  .pos_service_info .hosting_service_item h4:hover {
    color: #5e53fb;
  }
  
  .pos_service_info .hosting_service_item img {
    margin-bottom: 33px;
  }
  
  .pos_service_info .hosting_service_item:hover {
    border-color: #5e53fb;
    -webkit-box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1), 0px -5px 0px 0px rgba(95, 84, 253, 0.004);
    box-shadow: 0px 50px 100px 0px rgba(5, 1, 64, 0.1), 0px -5px 0px 0px rgba(95, 84, 253, 0.004);
  }
  
  .h_head {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c51;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  a .h_head:hover {
    color: #f6626a;
  }



  /*================== h_security_area css ===========*/
.h_security_area {
  padding: 100px 0px;
}

.h_security_area .row {
  margin-bottom: -45px;
}

.h_security_item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px 0px;
}

.h_security_item img {
  margin-right: 40px;
}

.h_security_item .media-body h4 {
  font-size: 20px;
  font-weight: 600;
  color: #2c2c51;
  line-height: 28px;
  margin-bottom: 18px;
}

.h_security_item .media-body p {
  margin-bottom: 0;
  color: #7b7b93;
}
/*=================== h_security_banner_area css =============*/
.h_security_banner_area {
  height: 100vh;
  min-height: 650px;
  background-image: -moz-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  background-image: -webkit-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  background-image: -ms-linear-gradient(60deg, #0063c1 0%, #0e79de 100%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.h_security_banner_area .s_round {
  position: absolute;
  border-radius: 50%;
  top: -100px;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
}

.h_security_banner_area .s_round.one {
  width: 280px;
  height: 280px;
  left: -8%;
}

.h_security_banner_area .s_round.two {
  width: 500px;
  height: 500px;
  left: -430px;
}

.h_security_banner_area .s_shap {
  right: 0;
  bottom: 0;
}

.security_banner_content h2 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 18px;
}

.security_banner_content p {
  font-size: 20px;
}

.security_banner_content .app_btn {
  background-color: #fba820;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(10, 92, 80, 0.2);
  box-shadow: 0px 10px 50px 0px rgba(10, 92, 80, 0.2);
  font-size: 16px;
  padding: 10px 39px;
}

.security_banner_content .app_btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.security_banner_content .w_btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-left: 30px;
}

.security_banner_content .w_btn img {
  margin-right: 10px;
  vertical-align: sub;
}

.security_title h2 {
  font-size: 34px;
  line-height: 44px;
}

.security_title h2 span {
  display: block;
  font-weight: 300;
}

/*================== h_security_area css ===========*/


  /*************************FOOTER**************************/
  .footer_area_six {
    background-image: -moz-linear-gradient(0deg, #1c143b 0%, #111339 100%);
    background-image: -webkit-linear-gradient(0deg, #1c143b 0%, #111339 100%);
    background-image: -ms-linear-gradient(0deg, #1c143b 0%, #111339 100%);
    border-top: 2px solid #192161;
  }

  .footer_top_six .company_widget a {
    color: #fff;
  }

  .f_widget .f_list li a {
    color:#fff;
  }
  
  .footer_top_six .f_widget.about-widget .f_list li a:before {
    background: #f00;
  }
  
  .footer_top_six .f_widget.about-widget .f_list li a:hover {
    color:#f00;
  }
  
  .footer_top_six .social-widget {
    margin-right: -15px;
  }
  
  .footer_top_six .social-widget .f_social_icon {
    padding-top: 4px;
  }
  
  .footer_top_six .social-widget .f_social_icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #232453;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color:#fff;
  }
  
  .footer_top_six .social-widget .f_social_icon a + a {
    margin-left: 2px;
  }
  
  .footer_top_six .social-widget .f_social_icon a:hover {
    background: #f00;
  }

  .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #f00;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  /*************************FOOTER FINISH *********************/